.profile__name {
  color: #ffffff;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-row: 1;
  grid-column: 1;
  margin: 0;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media screen and (max-width: 400px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    max-width: 189px;
  } 
}